html, body {
  margin: 0;
  padding: 0;
}

.cont_additional_information{
    width: 1100px;
    margin: 0 auto;
    /* background-color: rgba(248, 248, 248, 1); */
    padding-top: 11px;
    padding-bottom: 13px;
    display: flex;
    justify-content: space-between;
}
.container{
    width: 100%;
    background-color: rgba(248, 248, 248, 1);

}
.container_chapter{
    display: flex;
}

a{
    text-decoration: none;
    color:black;
}
ul, li {
  list-style-type: none;
}
.section{
    font-family: Open Sans;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    text-align: center;
}
.img_vector1{
    margin-right: 13px;
}
select{
    border: none;
    background-color:  rgba(248, 248, 248, 1);
}
.phone{
    justify-content: flex-end;
}
.margin{
    margin-right: 24px;
}
.img_vector1{
    margin-right: 13px;
}
.container_header{
    display: flex;
    width: 1100px;
    margin: 0 auto;
    margin-top: 34px;
}
.quick_search{
    width: 396px;
    height: 45px;
    border:1px solid rgba(212, 212, 212, 1);
    border-radius: 3px;
    padding-left: 13px;
}
.img_search{
      background-color: #d80000;
      border: none;
      color: white;
      padding: 11px 12px;
      cursor: pointer;
      position: relative;
      left: -52px;
      bottom: -5px;
      border-radius: 2px;
}
.cont_search{
    position: relative;
    right: -143px;
}
.logo_img{
    align-items: center;
    display: flex;
}